name: Build Android Release

on:
  push:
    branches: [ "main" ]
  release:
    types: [ created ]

jobs:
  build:
    runs-on: windows-latest

    env:
      Solution_Path: src\Vicold.Pindoudou\Vicold.Pindoudou.slnx
      Project_Path: src\Vicold.Pindoudou\Vicold.Pindoudou\Vicold.Pindoudou.csproj
      Output_Dir: bin\Release\net10.0-android

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore workloads
      run: dotnet workload restore --project $env:Project_Path

    - name: Restore dependencies
      run: dotnet restore $env:Project_Path

    - name: Publish Release (Android only)
      run: dotnet publish $env:Project_Path --configuration Release --no-restore --output $env:Output_Dir --framework net10.0-android

    - name: Upload Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Vicold.Pindoudou-Android-Release
        path: ${{ env.Output_Dir }}\*.apk

    - name: Upload to Release (if release event)
      if: github.event_name == 'release'
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ${{ env.Output_Dir }}\*.apk
        asset_name: Vicold.Pindoudou_Android_Release.apk
        asset_content_type: application/vnd.android.package-archive