name: Update Version in README

on:
  release:
    types: [ created ]

permissions:
  contents: write

jobs:
  update-version:
    runs-on: ubuntu-latest

    steps:
    - name: Delay execution for 30 minutes
      run: sleep 30m

    - name: Checkout code
      uses: actions/checkout@v4
      with:
        ref: main
        fetch-depth: 0

    - name: Extract version from tag
      id: extract-version
      run: |
        TAG_NAME=${{ github.event.release.tag_name }}
        VERSION=${TAG_NAME#v}
        echo "version=$VERSION" >> $GITHUB_OUTPUT

    - name: Update version in README.md
      run: |
        VERSION=${{ steps.extract-version.outputs.version }}
        sed -i "s/- \*\*构建版本\*\*：.*/- \*\*构建版本\*\*：$VERSION/g" README.md

    - name: Commit and push changes
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git add README.md
        git commit -m "Update version to ${{ steps.extract-version.outputs.version }}"
        git push